* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.blue {
    background: #3498db;
    color: #fff;
}

.light-blue {
    background: lightblue;
    color: black;
}



/* The grid: Four equal columns that floats next to each other */
.column {
    float: left;
    width: 25%;
    height: 100%;
    padding: 10px;
}

.col-sm {
    padding: 10px;
}

/* Style the images inside the grid */
.col-sm img {
    opacity: 0.8; 
    cursor: pointer;
    height: 100%;
}

.col-sm img:hover {
    opacity: 1;
}


/* The expanding image container */
.container {
    position: relative;
    display: none;
}

/* Expanding image text */
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}

/* Closable button inside the expanded image */
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
    z-index: 100;
}